body{
	background:url(biometria.jpg) no-repeat center top fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}

.tela{
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
	background-color:white;
	color: red;
	width: 400px;
	height: 455px;
	padding-top: 30px;
	text-align: center;
	border-radius: 20px;
}
.tela input{
	display: block;
	margin: 5px 0px 20px 130px;
	width: 85%
	padding 100px;
	border-radius: 20px;
	color: blue;
}
.tela label{
	text-align: center;
	display: block;
	padding: 10px 10px 5px 15px;
	font-size: 20px;
	color: black;
}

.tela button{
	display: block;
	margin: 15px 0 0 auto;
	font-family: 40px;
	border: 4px;
}

.tela a{
	margin: 15px 0 0 auto;
	font-weight: bold;
	font-family: 20px;
	border: 4px;
}