<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styleMenu.css"/>
    <title>Menu Principal</title>
</head>
<body>
    <div class = "tela">
        <label for="">Usuários</label>
        <button type="button" value="enviar" >Usuários</button>
        <label for="">Acessos</label>
        <button type="button" value="enviar" >Acessos</button>	
        <label for="">Leitores</label>
        <button type="button" value="enviar" >Leitores</button>
        <label for="">Cadastro</label>
        <button type="button" value="enviar" >Cadastrar</button>
        <img width="180px" height="150px" th:src="@{/logo.png}"/>		
    </div>
</body>
</html>