<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{../js/mainMaster.js}" src="../../static/js/mainMaster.js"></script>
    <link rel="stylesheet" type="text/css" href="/styleMenu.css"/>
    <title>Menu Principal</title>
</head>
<body>
    <div class = "tela">
        <div class="col text-center">
            <a th:href="@{usuarios}" class="btn btn-primary btn-lg btn-block uBtn" role="button">USUÁRIOS</a>
            <a th:href="@{leitores}" class="btn btn-primary btn-lg btn-block lBtn" role="button">LEITORES</a>
            <a th:href="@{cadastros}" class="btn btn-primary btn-lg btn-block cBtn" role="button">PERMISSÕES</a>
            <a th:href="@{acessos}" class="btn btn-primary btn-lg btn-block aBtn" role="button">ACESSOS</a>
            <div class="col text-center">
                <a th:href="@{/app/login}" class="btn btn-secundary loBtn" role="button">LOG OUT</a>
                <a th:href class="btn btn-secundary eBtn" role="button">EDIT LOGIN</a>
            </div>
            <img width="180px" height="150px" th:src="@{/logo.png}"/>
        </div>

        <div th:if="${verify}">
           <div data-toggle="modal fade" data-target="#newModal"></div>
        </div>
    </div>

    <div class="editForm">
        <form th:action="@{/app/verifyLogin}" method="post">
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Verify</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usuario" class="col-form-label">Usuario:</label>
                            <input type="text" class="form-control" id="usuario" name="usuario" value="" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="text" class="form-control" id="password" name="password" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Verify" />
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="newForm">
        <form th:action="@{/app/updateMaster}" method="post">
            <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newModalLabel">Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id" name="id" value="" />
                        </div>
                        <div class="form-group">
                            <label for="usuario" class="col-form-label">New Usuario:</label>
                            <input type="text" class="form-control" id="usuario" name="usuario" value="" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">New Password:</label>
                            <input type="text" class="form-control" id="password" name="password" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
        

    
</body>
</html>