<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{../js/mainCadastro.js}" src="../static/js/mainCadastro.js"></script>
    <link rel="stylesheet" type="text/css" href="/styleForm.css"/>
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="card-block">
                <div th:if="${verifyEdit}">
                    <!-- Edit Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> Permissão de Acesso não pôde ser cadastrada/editada.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>

                <br>
                <h1 class="text-xl-center font-weight-bold">PERMISSÕES DE ACESSO</h1>
                <br>

                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">ID LEITOR</th>
                            <th class="text-center">LOCAL LEITOR</th>
                            <th class="text-center">ID USUÁRIO</th>
                            <th class="text-center">NOME USUÁRIO</th>
                            <th class="text-center">DATA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cadastro :${data.content}">
                            <td th:text="${cadastro.idCadastro}"></td>
                            <td th:text="${cadastro.leitorBiometrico.idLeitor}"></td>
                            <td class="text-truncate" style="max-width: 100px;" th:text="${cadastro.leitorBiometrico.local}"></td>
                            <td th:text="${cadastro.usuario.idUsuario}"></td>
                            <td class="text-truncate" style="max-width: 250px;" th:text="${cadastro.usuario.nome}"></td>
                            <td th:text="${cadastro.dataCadastro}"></td>
                            <td>
                                <a th:href="@{'/app/detalhesCadastro/' + ${cadastro.idCadastro} + '/' + ${cadastro.idLeitorBiometrico}}" class="btn btn-success detBtn">Detalhes</a>
                                <a th:href="@{findOneCadastro/(idCadastro=${cadastro.idCadastro}, idLeitorBiometrico=${cadastro.idLeitorBiometrico})}" class="btn btn-primary eBtn">Edit</a>
                                <a th:href="@{deleteCadastro/(idCadastro=${cadastro.idCadastro}, idLeitorBiometrico=${cadastro.idLeitorBiometrico})}" class="btn btn-danger delBtn">Delete</a>     
                            </td>
                        </tr>

                    </tbody>

                </table>
                <hr/>
                <div class="col text-center">
                    <a th:href="@{/app/menu}" method="post" class="btn btn-danger rBtn" role="button">Return</a>
                    <button class="btn btn-success nBtn">New</button>
                </div>
                <div th:if="${data.totalPages == 0}">
                    <div class="text font-weight-bold">PAGES</div>
                    <ul class="nav nav-pills">
                        <li class="nav-item" th:each="i : ${#numbers.sequence(0,data.totalPages)}">
                            <a th:href="@{/app/cadastros(page=${i})}" th:text="${i}" class="nav-link"
                            th:classappend="${currentPage}==${i}?'active':''"></a>
                        </li>
                    </ul>
                </div>
                <div th:unless="${data.totalPages == 0}">
                    <div class="text font-weight-bold">PAGES</div>
                    <ul class="nav nav-pills">
                        <li class="nav-item" th:each="i : ${#numbers.sequence(0,data.totalPages-1)}">
                            <a th:href="@{/app/cadastros(page=${i})}" th:text="${i}" class="nav-link"
                            th:classappend="${currentPage}==${i}?'active':''"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="editnewForm">
            <form th:action="@{/app/saveCadastro}" method="post">
                <div class="modal fade" id="editnewModal" tabindex="-1" role="dialog" aria-labelledby="editnewModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editnewModalLabel">Update or Create</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="idCadastro" class="col-form-label">ID Permissão:</label>
                                <input type="number" class="form-control" id="idCadastro" name="idCadastro" value="" required/>
                            </div>
                            <div class="form-group">
                                <label for="leitorBiometrico" class="col-form-label">Leitor:</label>
                                <br>
                                <select th:field="${cadastro.leitorBiometrico}" required>
                                    <option value="">Escolha o Leitor</option>
                                    <option th:each="leitor : ${leitores}"
                                                th:value="${leitor.idLeitor}"
                                                th:text="${leitor.local}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="usuario" class="col-form-label">Usuário:</label>
                                <br>
                                <select th:field="${cadastro.usuario}" required>
                                    <option value="">Escolha o Usuário</option>
                                    <option th:each="usuario : ${usuarios}"
                                                th:value="${usuario.idUsuario}"
                                                th:text="${usuario.nome}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dataCadastro" class="col-form-label">Data da Permissão:</label>
                                <input type="text" class="form-control" id="dataCadastro" name="dataCadastro" value="" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are you sure you want to delete this register?
                    </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    
</body>
</html>