<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tela - login</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
	<!--<link rel="stylesheet" th:href="@{/app/login/style.css}"/>-->
	<!--<link href="<c:url value="style.css" />" rel="stylesheet">-->
	<!--<link rel="stylesheet" type="text/css" href='<c:url value="/style.css">'/>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<div>	
		<div class = "tela">
			<form th:action="@{/app/login}" method="POST">
				<label for="login">Login</label>
				<input type="login" name="" placeholder="">
				<label for="password">Password</label>
				<input type="password" name="" placeholder="">
				<input type="submit" value="Cadastrar" />
			</form>	
				<img width="180px" height="150px" th:src="@{/logo.png}"/>
				<!--<img src="Logo.png" width="180px" height="150px">-->			
		</div>
	</div>    
</body>
</html>